# rename this file to .env before running the server

# my local mongodb connection (or use MongoDB Atlas link)
MONGO_URI=mongodb://127.0.0.1:27017/ecommerce_db

# secret key used to sign jwt tokens (change this to anything random)
JWT_SECRET=mySuperSecretKey123

# port for the server
PORT=5000
